// =============
// common
// =============

.btn-primary {
  color: #fff;
  background-color: #5aa172;
  border-color: #519067;
  background-image: none;
}

// =============
// nav
// =============

.navbar-default {
  background-image: none;
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
  background-color: #5aa172;
  background-image: none;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  background-color: #ecf4ef;
  background-image: none;
}

.navbar-default .navbar-nav > .open > a {
  background-color: #ecf4ef;
  background-image: none;

  &:focus {
    background-color: #ecf4ef;
    background-image: none;
  }
}
